rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tracks/{document=**} {
      allow read, write: if
          request.auth != null && request.auth.uid in resource.data.members;
    }
    match /steps/{document=**} {
      allow read, write: if
          request.auth != null && request.auth.uid in get(/databases/$(database)/documents/tracks/$(resource.data.track_id)).data.members;
    }
  }
}
